<div class="d-flex justify-content-between">
  <h1 class="mb-1"><%= article.title %></h1>
  <div>
    <a href="/" class="btn btn-secondary">All Articles</a>
    <% if (user && user.id === article.author.id) { %>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
    <% } %>
  </div>
</div>
<div class="my-2">
  <img style="width: 30px;" class="rounded-circle" src="<%= article.author.avatar %>" />
  <small class="text-muted">
    <%= article.author.fullname %> |
    <%= article.createdAt.toDateString().split(' ').slice(1).join(' ') %>
  </small>
</div>


<div class="article my-5" id="article-html">
  <style>
    #article-html img {
      width: 100%;
      object-fit: contain;
    }
  </style>
  <%- article.sanitizedHtml %>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const hasHLJS = !!document.querySelector('.hljs-keyword')
    if (hasHLJS) {
      document.head.innerHTML +=
        '<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">'
    }
  })
</script>